@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

#container{
    width: 65vw;
    margin-top: 1.5em;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.input-container{
    margin-bottom: 50px;
}

.input-container > * {
    font-family: monospace;
    font-weight: 700;
}

input{
    padding: 10px;
    border: 5px solid black;
    border-radius: 0;
    transition: background-color 0.2s ease-in-out;
}

input:focus{
    background-color: gold;
}

button#generate{
    padding: 10px 150px;
    border: 5px solid black;
    background-color: white;
    transition: box-shadow 0.2s ease-in-out;
}

button#generate:hover{
    box-shadow: 5px 5px gold;
}

button#generate:focus{
    box-shadow: 5px 5px gold;
}
div#heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p#title-logo{
    font-size: 1.5em;
    font-weight: bold;
}


/* accordian container */

.accordian-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1.5em;
}


/* accordian head css */

h1, p{
    font-weight: 500;
}

p > span{
    font-weight: 400;
    font-size: 2.2em;
}

.accordian-item-head{
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    /* background-color: #59F44B; */
}

.item-head-display{
    width: 59vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFFFF4;
    padding: 0 20px;
}

.item-head-toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 1em; */
    width: 5vw;
}

.item-head-toggle > p{
    margin-top: 0;
}

.circle{
    height: 25px;
    width: 25px;
    background-color: #59F44B;
    border-radius: 50%;
    display: inline-block;
}

/* toggle switch */
.item-head-arrow{
    font-size: 3em;
    transition: transform 0.2s ease-in-out;
}

/* accordian body css */

.accordian-item-body{
    display: flex;
    justify-content: space-between;
    width: 66.5vw;
    margin-top: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #59F44B; */
}

.item-body-stopwatch{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.item-body-stopwatch > span{
    font-size: 4.2em;
}

.stopwatch-buttons{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.stopwatch-buttons > button{
    border: black solid 4px;
    background-color: white;
    font-size: 1.2em;
    font-weight: 700;
    padding: 5px;
    width: 8em;
    /* width: 5.5em; */
    cursor: pointer;
}

.stopwatch-buttons > button.playPauseButton{
    display: block;
    background-color: #59F44B;
}
  
/* .stopwatch-buttons > button.pauseButton{
    display: none;
    background-color: #F4554B;
} */

.stopwatch-buttons > button.resetButton{
    background-color: #F4ED4B;
}

.item-body-textarea{
    /* padding-right: 15px; */
    margin-left: 7.5vw;
}

.item-body-textarea > textarea{
    border: black solid 4px;
    resize: none;
    width: 100%;
}

.delete{
    width: 3.2vw;
    position: relative;
}

.delete-icon{
    font-size: 2em;
    position: relative;
    right: 0;
    top: 3.5em;
    color: #FF4646;
    cursor: pointer;
}

/* side logo fixed thingy */
.side-logo{
    width: 50px;
    height: 50px;
    background-color: #4b6af4;
    position: fixed;
    right: 0;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 0 0 5px;
    transition: width 0.1s ease-out;
}

.side-logo p{
    display: none;
    text-align: center;
    color: white;
}

.side-logo:hover p{
    display: block;
    font-size: 0.8rem;
}

.side-logo:hover{
    width: 110px;
}

.side-logo:hover .fa-cat{
    margin-left: 5px;
    color: white;
}

.fa-cat{
    font-size: 2em;
    /* transform: rotate(-90deg); */
    color: #F4D54B;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #4b6af4;
}